.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

// Loops to enumerate the classes for gallery columns.
@for $i from 2 through 9 {

	.gallery-columns-#{$i} {
		grid-template-columns: repeat($i, 1fr);
	}
}

.gallery-caption {
	display: block;
}





.wp-block-gallery.has-nested-images {
	margin: 1rem 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: 0 1rem;

	figure.wp-block-image {
			display: flex;
			flex-basis: 45%;
			flex-grow: 1;
			justify-content: center;
			position: relative;
			flex-direction: row;
			
			max-width: 100%;
			

			&:nth-child(odd){
				justify-content: flex-end;
			}
			&:nth-child(even){
				justify-content: flex-start;
				align-self: flex-end;
				margin-bottom: 0!important;
				
			}
		

	}
}