.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

// Loops to enumerate the classes for gallery columns.
@for $i from 2 through 9 {

	.gallery-columns-#{$i} {
		grid-template-columns: repeat($i, 1fr);
	}
}

.gallery-caption {
	display: block;
}


.gallery-front {
	margin: 3rem;

}

.wp-block-gallery.has-nested-images figure.wp-block-image img {
	display: block;
	width: inherit;
	height: inherit;


}

.wp-block-gallery.has-nested-images.columns-2 {
	figure.wp-block-image:not(#individual-image):nth-of-type(n) {
		
		align-self: flex-end;
	}
	figure.wp-block-image:not(#individual-image):nth-of-type(2n) {
		
	
		align-self: flex-start;
		
	}
	
}